<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">

    <!-- Custom fonts for this template -->
    <link href="../../../fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'> 
    
    <!-- Custom styles for this template -->
    <link href="../../../css/clean-blog.min.css" rel="stylesheet">

    <title>Blog NodeJS</title>
</head>

<body>
    {{>_navbar}}
    
    {{#if error}}
    <div class="alert alert-danger">{{error}}</div>
    {{else}}
    {{/if}}
    {{>_msg}}
    {{{body}}}
    
    {{>_footer}}

</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>

<script src="../../../js/bootstrap.js"></script>

 <!-- Bootstrap core JavaScript -->
  <script src="../../../js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="../../../js/clean-blog.min.js"></script>


</html>