<header>
    <header class="masthead" style="background-image: url('../img/categories-bg.jpg'); height:350px;">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Categorias</h1>
          </div>
        </div>
      </div>
    </div>
  </header>
</header>

{{#each categorias}}
<div class="card">
    <div class="card-body">
    <a href="/categorias/{{slug}}"><h5>{{nome}}</h5></a>
    </div>
</div>
{{else}}
    {{/each}}

    





